{% extends 'home/index.html' %} {% load static %} {% block content %}
<<div class="container">
    <div class="featured-post-wrapper">
        <div class="featured-post-text-wrapper">
            <div class="row" style="margin-top:50px;">
                <div class="col-md-2 col-md-offset-2"></div>
                <div class="col-md-8 col-md-offset-2">
                    <div class="login-panel panel panel-default">

                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <center>
                                    <h6 class="m-0 font-weight-bold text-primary">Book Appointment</h6>
                                </center>
                                <div style="float: right;">
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                                        <form method="post" class="form-horizontal" enctype="multipart/form-data" data-toggle="modal" data-target="#revModal">{% csrf_token %}
                                            <p class="bs-component">
                                                <table class="radii">
                                                    <tbody>
                                                        <div class="form-group">
                                                            <strong><label for="inputEmail">Contact Phone:</label>
                          <span class="text-danger"> * </span>
                        </strong><input type "text" name="phone" class="form-control" readonly="True" value="{{user.profile.phone}}">
                                                        </div><br>

                                                        <div class="form-group">
                                                            <strong><label for="inputEmail">Contact email:</label>
                          <span class="text-danger"> * </span>
                        </strong><input type "text" name="email" class="form-control" readonly="True" value="{{user.email}}">
                                                        </div><br>

                                                        <div class="form-group">
                                                            <strong><label for="inputEmail">Expected date to start working:</label>
                          <span class="text-danger"> * </span>
                          {{form.start_date}}
                                                        </div><br>

                                                        <div class="form-group">
                                                            <strong><label for="inputEmail">Leave a Message:</label>
                          <span class="text-danger"> * </span>{{form.message}}
                                                        </div><br>
                                                    </tbody>
                                                </table>
                                            </p>
                                            <p class="bs-component">
                                                <center>
                                                    <input class="btn btn-success btn-sm btn-block" type="Submit" value="Send Now!" />

                                                </center>
                                            </p>

                                            <input type="hidden" name="next" value="{{ next }}" />

                                            <div class="modal fade" id="revModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to continue with this action?
                                                            </h5>
                                                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">X</span>
                              </button>
                                                        </div>
                                                        <div class="modal-body">Select "Proceed" to commit these changes.</div>
                                                        <div class="modal-footer">
                                                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                                            <button class="btn btn-warning" type="submit" value="submit">Proceed</button>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </form>
                                    </table>
                                </div>
                            </div>
                            <div class="card-footer small text-muted"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-md-offset-2"></div>
            </div>
        </div>
    </div>
    </div>
    {% endblock %}