{% extends 'home/index.html' %}
{% block content %}
<div class="navbar hidden-phone">
<h5 class="title-bg">Create Account Here</h5>
<form method="post"  class="form-horizontal" action="/register/">{% csrf_token %}
                  {% csrf_token %} 
                  {% if form.errors %}
                    {% for field in form %}
                       {% for error in field.errors %}
                          <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                          </div>
                      {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                         <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-plus"></i></span>
                    {{form.group}}
                </div>
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-user"></i></span>
                    {{form.first_name}}
                </div>
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-user"></i></span>
                    {{form.last_name}}
                </div><br><br>
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-user"></i></span>
                    {{form.username}}
                </div>
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-phone-alt"></i></span>
                    {{form.phone}}
                </div>
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-envelope"></i></span>
                    {{form.email}}
                </div><br><br>
               <div class="input-prepend">
                    <span class="add-on"><i class="icon-lock"></i></span>
                    {{form.password1}}
                </div>
                 <div class="input-prepend">
                    <span class="add-on"><i class="icon-lock"></i></span>
                    {{form.password2}}
                </div><br><br>
              <div class="row">
                    <div class="span2">
                        <input type="submit" class="btn btn-inverse" value="submit">
                    </div>
                    <div class="span2">
                        <a class="d-block small" href="/accounts/login/">Already have an account?</a>
                    </div>
                </div>
            </form> 
</div>      
{% endblock %}