{% extends 'accounts/loginbase.html' %}
{% block content %}
<style type="text/css">
	.radii {
		border-radius: 5px;
	}
</style>

<div class="container">
	<div class="featured-post-wrapper" style="margin:100px 0px;">
		<div class="featured-post-text-wrapper">
			<div class="row" style="margin-top:100px;">
				<div class="col-md-2 col-md-offset-2"></div>
				<div class="col-md-8 col-md-offset-2">
					<div class="login-panel panel panel-default">
						<div class="panel-heading">
							<center>
								<h3 class="panel-title">Password reset done</h3>
							</center>
						</div>
						<div class="panel-body">
							<p>
								<h6>
									<p>Your new password has been successfully set.You can login</p>
									<a href="/accounts/login/">Here</a>
									<div class="text-center">
								</h6>
							</p>
							<script>setTimeout(function () { window.location.href = "/accounts/login/" }, 10000);</script>
						</div>
					</div>
				</div>
				<div class="col-md-2 col-md-offset-2"></div>
			</div>
		</div>
	</div>
</div>
{% endblock %}