{% autoescape off %}
Hello {{ user.get_username }},We understand that everyone forgets.You requested a password reset,If this is you, to initiate the password reset process for your Freelance Account ,
click the link below:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If clicking the link above doesn't work, please copy and paste the URL in a new browser
window instead.
Otherwise if this is not your doing.Please ignore this email.

Sincerely,
The FreeLance Manager Team.
{% endautoescape %}
