{% extends 'accounts/loginbase.html' %}
{% block content %}


<style type="text/css">
  .radii {
    border-radius: 5px;
  }
</style>

<div class="container">
  <div class="featured-post-wrapper" style="margin:100px 0px;">
    <div class="featured-post-text-wrapper">
      <div class="row" style="margin-top:100px;">
        <div class="col-md-2 col-md-offset-2"></div>
        <div class="col-md-8 col-md-offset-2">
          <div class="login-panel panel panel-default">
            <div class="panel-heading">
              <center>
                <h3 class="panel-title">Request password reset here</h3>
              </center>
            </div>
            <div class="panel-body">
              <form method="post" action="/password_reset/">{% csrf_token %}
                <p class="bs-component">
                  <table class="radii">
                    <tbody>
                      {{form.as_p}}
                    </tbody>
                  </table>
                </p>
                <p><input type="checkbox" required name="terms"> I am not a robot</u></p>
                <p class="bs-component">
                  <center>
                    <input class="btn btn-success btn-sm btn-block" type="Submit" value="Submit" />
                  </center>
                </p>
                <input type="hidden" name="next" value="{{ next }}" />

              </form>
              <div class="text-center">
                <a class="d-block small mt-3" href="/accounts/login/">Login</a> <br>

                <a class="d-block small" href="/register/">Register here</a><br><br>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-md-offset-2"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}