{% load staticfiles %}
<script src="{% static 'vendor/jquery/jquery-2.0.0.min.js' %}"></script>
<script src="{% static '/ajax.js' %}"></script>
<div class="home-banner"
  style="background-image:url({% static '/img/construction2.jpg' %}); min-height:400px; padding-top:50px;">
  <h1 class="heading-1">Where your construction needs are met</h1>
</div>
<div class="featured-sec">
  <div class="container featured-sec-inner">
    <div class="row">

      <div class="col-md-8">
        {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="grid-sec">
          <div class="container grid-sec-inner">
            <div class="row">
              {% for display in p %}
              <div class="col-md-4" style="margin-bottom:15px!important;">
                <div class="featured-post-wrapper">
                  <div class="img-wrapper" style="max-height: 150px; overflow:hidden;">
                    <img src="{{ display.display_pic.url }}" width="100%" alt="">
                  </div>
                  <div class="featured-post-text-wrapper">
                    <p>
                      <h4 class="blue-heading">{{display.user}}</h4>
                    </p>
                    <strong>
                      <p>Specialization:{{display.specialization}}</p>
                    </strong><strong>
                      <h5>{{ display.company_name}} .....</h5>
                    </strong>
                    <a href="{% url 'create_booking' pk=display.pk %}">
                      <button class="btn btn-basic" type="button">Read More
                    </a>
                    </button>
                  </div>
                </div>
              </div>
              {% endfor %}
        
            </div>
          </div>
        </div>

      </div>

      <div class="col-md-4">
        <h3 class="grey-heading">Search</h3>
        <form style="margin-bottom:15px;">
          <div class="input-group" style="border-right:1px solid #ced4da;">
            <input type="text" id="search" name="search" class="make-square-left form-control"
              style="border-right:0px!important;" placeholder="Search">{% csrf_token %}
            <div class="input-group-btn">
              <button class="wht make-square-right btn btn-default"
                style="border-top:1px solid #ced4da; border-bottom:1px solid #ced4da; border-right:1px solid #ced4da;"
                type="submit">
                <i class="fa fa-search" style="color:#999999;"></i>
              </button>
            </div>
          </div>
          <ul id="search-results">

          </ul>
        </form>
        <h3 class="grey-heading">Services Categories</h3>
        <div class="featured-post-wrapper" style="padding:20px;">
          <ul
            style="display:inline-block; list-style:none!important; padding-left:0px!important; margin-top:0px!important;">


            {% for i in s %}
            <li class="cat-list" name="category_list" value="{{i}}" style="float:left; margin-bottom:15px;"><a
                class="cat-links" href="/filter_categories/">{{i}}s
              </a></li>
            {% endfor %}
          </ul>
        </div>
      </div>

    </div>

  </div>
</div>


